/* --------------- */
/* GENERAL SETTING */
/* --------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.cookie-clic-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.cookie-clic{
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

#anime-onclic{
  position: absolute;
  user-select: none;
  font-size: 1.2rem;
  color: green;
  pointer-events: none;
  font-weight: bold;
  opacity: 0;
}

.booster-btn{
  display: flex;
  align-items: center;
}

.booster-icon img{
  width: 70px;
}