/* --------------- */
/* GENERAL SETTING */
/* --------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* --------------- */
/* -- COOKIE IMG - */
/* --------------- */
#cookie-img {
  text-align: center;
  width: 100vw;
}

#cookie-img img {
  width: 20%;
  height: auto;
}

.cookie-counter {
  border: 1px solid black;
  width: 300px;
  text-align: center;
}
